@import "variables";
.property-item {

  .item-header {
    color: #ffffff;
    height: 200px;
    background-color: $primary-color;
    .property-details {
      padding: 35px;
      .prop-address {

      }
    }
    .property-img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  .reviews-list {
    min-height: 400px;
    .loader {
      width: 100px;
      margin: 60px auto;
      img {
        width: 100%;
      }
    }
    .review-item {
      min-height: 70px;
      border-bottom: 1px solid #d8d4d4;
      margin-right: 40px;
      margin-left: 40px;
      padding: 20px;
      .review-content {

        width: 100%;
        min-height: 40px;
      }
    }
  }
}